/* ######################################################## MEDIA QUERIES ################################################# */
/* ######################################################## MEDIA QUERIES ################################################# */
/* ######################################################## MEDIA QUERIES ################################################# */

@media only screen and (max-width: 600px) {
  html {
    font-size: 30%;
  }

  body {
    min-height: 100%;
  }
  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ HEADER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  header {
    padding: 0 5rem;
    width: 100vw;
  }

  .main-headings::after{
    height: 2px;
  }

  .nav-bar {
    opacity: 1;
    background-color: transparent;
    box-shadow: none;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #000000;
    transition: all 0.8s ease-in-out;
  }

  .menu li {
    margin-top: 10rem;
  }

  .menu li a {
    font-size: 4rem;
    color: #fff;
  }

  .open-menu {
    display: block;
    color: #47c972;
    margin-right: 6rem;
  }

  .close-menu {
    display: block;
    color: #ffffff;
  }

  #check:checked ~ .menu {
    right: 0;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ABOUT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  .about-images {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .images {
    height: 200px;
    width: 200px;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SERVICES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  .service-boxes {
    justify-content: space-evenly;
  }

  .box {
    min-height: 200px;
    min-width: 150px;
    margin: 5rem 0.2rem;
  }

  .box img {
    height: 50px;
    width: 50px;
    object-fit: cover;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  QUOTE PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  .quote-wrapper {
    margin: 0 2rem;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ BUTTON @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

  .contact-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .contact-form {
    max-width: 75%;
  }

  .contact-info {
    max-width: 75%;
    text-align: center;
    align-items: center;
  }

  input[type="submit"] {
    font-size: 3.5rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  select {
    font-size: 2.5rem;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ BUTTON @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  #button {
    width: 25px;
    height: 25px;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FOR TABS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FOR TABS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FOR TABS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FOR TABS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FOR TABS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media only screen and ((min-width: 600px) and (max-width: 1150px)) {
  html {
    font-size: 40%;
  }

  body {
    min-height: 100vh;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  .main-headings::after{
    height: 2px;
  }

  .nav-bar {
    opacity: 1;
    background-color: transparent;
    box-shadow: none;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #000000;
    transition: all 0.8s ease-in-out;
  }

  .menu li {
    margin-top: 10rem;
  }

  .menu li a {
    font-size: 4rem;
    color: #fff;
  }

  .open-menu {
    display: block;
    color: #47c972;
    margin-right: 6rem;
  }

  .close-menu {
    display: block;
    color: #ffffff;
  }

  #check:checked ~ .menu {
    right: 0;
  }

  .about-images {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .service-boxes {
    justify-content: space-evenly;
  }

  .box {
    min-height: 280px;
    margin: 5rem 0.2rem;
  }

  .box img {
    height: 50px;
    width: 50px;
    object-fit: cover;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  ABOUT PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

  .about-content p {
    font-size: 2.5rem;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  SERVICES PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  .box p {
    font-size: 2.7rem;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  QUOTE PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  .quote-wrapper {
    padding: 0 10rem;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  QUOTE PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  .quote-wrapper {
    padding: 4rem 30rem;
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ BUTTON @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  #button {
    width: 30px;
    height: 30px;
  }
}




/* ######################################################## MEDIA QUERIES ################################################# */
/* ######################################################## MEDIA QUERIES ################################################# */
/* ######################################################## MEDIA QUERIES ################################################# */
/* ######################################################## MEDIA QUERIES ################################################# */
/* ######################################################## MEDIA QUERIES ################################################# */