@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #efefef;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  display: inline;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.05rem;
}

/* ############################################ UTILITY CLASSES ############################################*/
/* ############################################ UTILITY CLASSES ############################################*/
/* ############################################ UTILITY CLASSES ############################################*/
/* ############################################ UTILITY CLASSES ############################################*/
/* ############################################ UTILITY CLASSES ############################################*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary {
  color: #000000;
  background-color: #0b88b9;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5rem;
  padding: 1rem 1.5rem;
}

.btn-primary:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-headings {
  font-size: 4rem;
  margin: 2rem;
  margin-bottom: 7rem;
  font-weight: 600;
  position: relative;
  text-align: center;
  padding-top: 5rem;
}

.main-headings::after {
  content: "";
  background: #47c972;
  width: 100px;
  height: 4px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* ############################################ HEADER PAGE STYLING ############################################*/
/* ############################################ HEADER PAGE STYLING ############################################*/
/* ############################################ HEADER PAGE STYLING ############################################*/
/* ############################################ HEADER PAGE STYLING ############################################*/
/* ############################################ HEADER PAGE STYLING ############################################*/

.review-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.review-card {
  /* border: 2px solid blue; */
  /* min-width: 300px; */
  max-width: 300px;
  min-height: 200px;
  background-color: #fff;
  margin: 0 2rem 4rem 2rem;
  margin-bottom: 4rem;
  border-radius: 20px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.person-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.person-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.person-name h3 {
  font-size: 1.5rem;
}

/* ############################################ FOOTER PAGE SYTLING ############################################*/
/* ############################################ FOOTER PAGE SYTLING ############################################*/
/* ############################################ FOOTER PAGE SYTLING ############################################*/
/* ############################################ FOOTER PAGE SYTLING ############################################*/
/* ############################################ FOOTER PAGE SYTLING ############################################*/
.footer {
  background-color: #1c1f1c;
  padding: 2rem;
  text-align: center;
  color: #f4f4f4;
}

.footer p {
  color: #f4f4f4;
}

.social-media i {
  margin: 2rem;
}

.social-media a {
  color: #fff;
}

.social-media a:hover {
  color: #47c972;
}

/* ############################################ BACK TO TOP ############################################*/
/* ############################################ BACK TO TOP ############################################*/
/* ############################################ BACK TO TOP ############################################*/
/* ############################################ BACK TO TOP ############################################*/
/* ############################################ BACK TO TOP ############################################*/

#button {
  background-color: #47c972;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  -o-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  border-radius: 10px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  z-index: 99999;
}

#button:hover {
  cursor: pointer;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
  /* line-height: 30px; */
  color: #fff;
}

/* ############################################ Animated Button ############################################*/
/* ############################################ Animated Button ############################################*/
/* ############################################ Animated Button ############################################*/
/* ############################################ Animated Button ############################################*/
/* ############################################ Animated Button ############################################*/

.more-services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta {
  font-family: inherit;
  border: none;
  background: none;
  font-weight: 700;
  margin-bottom: 5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 2px;
  word-spacing: 6px;
  font-size: 1.5rem;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  -webkit-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

span:hover {
  cursor: pointer;
}

.cta:hover svg {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.cta:active svg {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}
