@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #efefef;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  display: inline;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.05rem;
}

/* ############################################ UTILITY CLASSES ############################################*/
/* ############################################ UTILITY CLASSES ############################################*/
/* ############################################ UTILITY CLASSES ############################################*/
/* ############################################ UTILITY CLASSES ############################################*/
/* ############################################ UTILITY CLASSES ############################################*/
.container {
  max-width: 1300px;
  margin: 0 auto;
}

.btn-primary {
  color: #000000;
  background-color: #0b88b9;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5rem;
  padding: 1rem 1.5rem;
}

.btn-primary:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-headings {
  text-align: center;
  font-size: 4rem;
  margin: 2rem;
  margin-bottom: 5rem;
  padding-top: 10%;
  font-weight: 600;
  position: relative;
}

.main-headings::after {
  content: "";
  background: #47c972;
  width: 100px;
  height: 4px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* ############################################ NAVBAR ############################################*/
/* ############################################ NAVBAR ############################################*/
/* ############################################ NAVBAR ############################################*/
/* ############################################ NAVBAR ############################################*/
/* ############################################ NAVBAR ############################################*/
.header {
  position: relative;
}

.navbar {
  /* position: absolute; */
  width: 100%;
  padding: 0 4rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  z-index: 99999;
}

.nav-items li a {
  padding: 0.5rem 0;
  margin: 0 1rem;
  position: relative;
  font-weight: 600;
}

.nav-items li a::after {
  content: "  ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  color: #ffffff;
  background-color: #000000;
  -webkit-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.nav-items li a:hover:after {
  width: 100%;
}

.account i {
  margin-left: 2rem;
}

/* ############################################ HEADER CONTENT ############################################*/
/* ############################################ HEADER CONTENT ############################################*/
/* ############################################ HEADER CONTENT ############################################*/
/* ############################################ HEADER CONTENT ############################################*/
/* ############################################ HEADER CONTENT ############################################*/

.landing-page {
  /* border: 2px solid red; */
  position: relative;
  height: 100vh;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(#051937),
    color-stop(#004d7a),
    color-stop(#008793),
    color-stop(#00bf72),
    to(#a8eb12)
  );
  background-image: -o-linear-gradient(
    left bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  background-attachment: fixed;
  background-size: cover;
}

.header-content {
  padding: 5rem;
  max-width: 800px;
  min-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* for background blur card */
  background: #ffffff0c;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 20px;

  overflow: hidden;
}

.header-content h1 {
  font-size: 5rem;
  text-align: center;
  margin: 2rem 0;
  font-weight: 800;
}

.header-content p {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.search {
  font-size: 0;
  width: 700px;
  height: 40px;
}

input {
  padding: 0px;
  font-size: 18px;
  height: 100%;
  background: white;
  border: none;
}

.searchText {
  text-indent: 5px;
  border-radius: 5px 0 0 5px;
  border: 2px solid #000;
  border-right: none;
  width: 620px;
  height: 100%;
}

.searchButton {
  color: white;
  background-color: #000;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  width: 80px;
}

/* ############################################ FEATURED PPRODUCTS ############################################*/
/* ############################################ FEATURED PPRODUCTS ############################################*/
/* ############################################ FEATURED PPRODUCTS ############################################*/
/* ############################################ FEATURED PPRODUCTS ############################################*/
/* ############################################ FEATURED PPRODUCTS ############################################*/

.featured-Products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.product {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  border: 2px solid #00000025;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-image {
  background-color: #dfdfdf;
  height: 300px;
  width: 300px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.product-image img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-image img:hover {
  scale: 1.2;
}

.product .product-details h3 {
  font-size: 2rem;
}

.product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-price .cut-price {
  text-decoration: line-through;
  margin-right: 2rem;
}

.stars i {
  font-size: 1.5rem;
  color: #9b8400;
}

/* ############################################ OFFER SECTION ############################################*/
/* ############################################ OFFER SECTION ############################################*/
/* ############################################ OFFER SECTION ############################################*/
/* ############################################ OFFER SECTION ############################################*/
/* ############################################ OFFER SECTION ############################################*/

section .limited-Offer {
  background: #eee;
  padding: 0px 100px;
  padding-bottom: 100px;
}

section .limited-Offer .offer-content {
  background: url("https://images.pexels.com/photos/6634680/pexels-photo-6634680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}

section .limited-Offer .offer-content .content-box {
  color: #000000;
  width: 500px;
  position: absolute;
  left: 50px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

section .limited-Offer .offer-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 125, 196, 0.3);
}

section .limited-Offer .offer-content .content-box .offer {
  font-size: 0.95em;
  margin: 10px 0;
}

section .limited-Offer .offer-content .content-box h3 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.content-box {
  font-size: 2rem;
}

section .limited-Offer .offer-content .content-box .content {
  font-size: 0.85em;
}

section .limited-Offer .offer-content .content-box button {
  border: none;
  outline: none;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 25px;
  font-weight: 700;
  font-size: 1.1em;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section .limited-Offer .offer-content .content-box button:hover {
  background: #000;
  color: #fff;
}

/* ############################################ OFFER SECTION ############################################*/
/* ############################################ OFFER SECTION ############################################*/
/* ############################################ OFFER SECTION ############################################*/
/* ############################################ OFFER SECTION ############################################*/
/* ############################################ OFFER SECTION ############################################*/

.limited-time {
  padding: 2rem 4rem;
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}

.offer-content1 {
  max-width: 500px;
  overflow: hidden;
}

.offer-content1 p {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.offer-content1 h2,
h3 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.offer-content1 button {
  border: none;
  outline: none;
  width: 12rem;
  text-transform: uppercase;
  padding: 10px 0px;
  margin-top: 2rem;
  cursor: pointer;
  font-weight: 700;
  background: #000000;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.offer-content1 button:hover {
  background-color: #a0a0a0;
  color: #000;
}

.offer-image {
  height: 300px;
  width: 300px;
}

.offer-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* ############################################ INFO SECTION ############################################*/
/* ############################################ INFO SECTION ############################################*/
/* ############################################ INFO SECTION ############################################*/
/* ############################################ INFO SECTION ############################################*/
/* ############################################ INFO SECTION ############################################*/

section .info {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 6rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px 100px;
  padding-bottom: 100px;
}

section .info .info-section {
  text-align: center;
  line-height: 2rem;
  max-width: 200px;
}

section .info .info-section h3 {
  font-size: 2rem;
}

section .info .info-section img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}

section .info .info-section p {
  color: #333;
  font-size: 1.5rem;
}

/* ############################################ FOOTER PAGE SYTLING ############################################*/
/* ############################################ FOOTER PAGE SYTLING ############################################*/
/* ############################################ FOOTER PAGE SYTLING ############################################*/
/* ############################################ FOOTER PAGE SYTLING ############################################*/
/* ############################################ FOOTER PAGE SYTLING ############################################*/
.footer {
  background-color: #1c1f1c;
  padding: 2rem;
  text-align: center;
  color: #f4f4f4;
}

.footer p {
  color: #f4f4f4;
}

.social-media i {
  margin: 2rem;
}

.social-media a {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-media a:hover {
  color: #47c972;
}

/* ############################################ BACK TO TOP ############################################*/
/* ############################################ BACK TO TOP ############################################*/
/* ############################################ BACK TO TOP ############################################*/
/* ############################################ BACK TO TOP ############################################*/
/* ############################################ BACK TO TOP ############################################*/

#button {
  background-color: #47c972;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  -o-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  border-radius: 10px;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  border: none;
  z-index: 99999;
}

#button:hover {
  cursor: pointer;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
  /* line-height: 30px; */
  color: #fff;
}
