@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #efefef;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  display: inline;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.05rem;
}
/* 
div{
  border: 2px solid black;
} */

/* ############################################ UTILITY CLASSES ############################################*/
/* ############################################ UTILITY CLASSES ############################################*/
/* ############################################ UTILITY CLASSES ############################################*/
/* ############################################ UTILITY CLASSES ############################################*/
/* ############################################ UTILITY CLASSES ############################################*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.btn-primary {
  color: #000000;
  background-color: #0b88b9;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5rem;
  padding: 1rem 1.5rem;
}

.btn-primary:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;

  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-headings {
  text-align: center;
  font-size: 4rem;
  margin: 2rem;
  margin-bottom: 3rem;
  padding-top: 10%;
  font-weight: 600;
  position: relative;
}

.main-headings::after {
  content: "";
  background: #47c972;
  width: 100px;
  height: 4px;
  position: absolute;
  bottom: -5px;
  left: 50%;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.main-headings {
  margin-bottom: 60px;
}

/* ############################################ HEADER PAGE STYLING ############################################*/
/* ############################################ HEADER PAGE STYLING ############################################*/
/* ############################################ HEADER PAGE STYLING ############################################*/
/* ############################################ HEADER PAGE STYLING ############################################*/
/* ############################################ HEADER PAGE STYLING ############################################*/

#main {
  position: relative;
}

header {
  height: 100vh;
  color: #00aa39;
  margin: 0 auto;
  padding: 0 15rem;
  background-color: #ffffff;
  background-image: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: relative;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ NAVBAR @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
nav {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;

  position: relative;
}

.nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: fixed;
  background-color: #efefef;
  
  -webkit-box-shadow: 0px 10px 20px #0000005d;
  box-shadow: 0px 10px 20px #0000005d;

  z-index: 999;
  padding: 0 8rem;
  opacity: 0.9;
}

.logo {
  height: 70px;
  width: 70px;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  padding-left: 5rem;
}
.menu li a {
  display: inline-block;
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  color: #000;
  background-color: #000000;
  -webkit-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  color: #000000;
  cursor: pointer;
  display: none;
}

.open-menu {
  top: 50%;
  right: 0;
  
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  font-size: 4rem;
}

.close-menu {
  top: 30px;
  right: 20px;
  font-size: 6rem;
}

#check {
  display: none;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ HEADER CONTENT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* for background blur card */
  background: #ffffff0c;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  padding: 5rem;
}

.header-text {
  text-align: center;
}

.lg-heading {
  font-size: 7rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.header-text p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.header-text a {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* ############################################ ABOUT PAGE STYLING ############################################*/
/* ############################################ ABOUT PAGE STYLING ############################################*/
/* ############################################ ABOUT PAGE STYLING ############################################*/
/* ############################################ ABOUT PAGE STYLING ############################################*/
/* ############################################ ABOUT PAGE STYLING ############################################*/

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  -ms-flex-direction: column;
  flex-direction: column;
  
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  overflow: hidden;
}

.about-content p {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.about-images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;

  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

  justify-content: space-between;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  margin: 5rem;
  display: flex;
}

.images {
  width: 350px;
  height: 350px;
}

.images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* ############################################ SERVICES STYLING ############################################*/
/* ############################################ SERVICES STYLING ############################################*/
/* ############################################ SERVICES STYLING ############################################*/
/* ############################################ SERVICES STYLING ############################################*/
/* ############################################ SERVICES STYLING ############################################*/

.overflow {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;

  overflow: hidden;
}

.service-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

  justify-content: space-between;

  margin-top: -5rem;
}

.box {
  -webkit-box-shadow: 0px 0px 5px #00000028;
  box-shadow: 0px 0px 5px #00000028;
  padding: 2.5rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

  justify-content: space-between;
  width: 23%;
  margin: 15rem auto;

  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  
  overflow: hidden;
}

.box:hover {
  scale: 1.03;
  -webkit-box-shadow: 0px 10px 10px #0000005d;
  box-shadow: 0px 10px 10px #0000005d;
  color: #ffffff;
  background-color: #47c972;
  border-radius: 25px;
}

.box img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 3rem;
}

.box p {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.box h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.more-services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta {
  font-family: inherit;
  border: none;
  background: none;
  font-weight: 700;
  margin-bottom: 5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 2px;
  word-spacing: 6px;
  font-size: 1rem;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  -webkit-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

span:hover {
  cursor: pointer;
}

.cta:hover svg {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.cta:active svg {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;

  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;

  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;

  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

/* ############################################ QUOTE STYLING ############################################*/
/* ############################################ QUOTE STYLING ############################################*/
/* ############################################ QUOTE STYLING ############################################*/
/* ############################################ QUOTE STYLING ############################################*/
/* ############################################ QUOTE STYLING ############################################*/
.quote-wrapper {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  margin: 5rem auto;
  padding: 5rem 0;
  border-radius: 10px;

}

.quote-image {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 3rem;
}

.quote-image img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.quote-sign i {
  font-size: 4rem;
  color: #47c972;
}

.quote-content {
  text-align: center;
}

.quote-content p {
  font-size: 2rem;
}

/* ############################################ WHY US PAGE STYLING ############################################*/
/* ############################################ WHY US PAGE STYLING ############################################*/
/* ############################################ WHY US PAGE STYLING ############################################*/
/* ############################################ WHY US PAGE STYLING ############################################*/
/* ############################################ WHY US PAGE STYLING ############################################*/
.why-us-wrapper {
  /* border: 1px solid black; */
  padding: 0 5rem;
}

.why-us-wrapper i {
  padding-top: 0.5rem;
  font-size: 3rem;
  color: #47c972;
}

.why-us-wrapper .para {
  font-size: 2.3rem;
  margin-bottom: 3.5rem;
}

.why-us-wrapper p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

/* ############################################ REVIEW PAGE STYLING ############################################*/
/* ############################################ REVIEW PAGE STYLING ############################################*/
/* ############################################ REVIEW PAGE STYLING ############################################*/
/* ############################################ REVIEW PAGE STYLING ############################################*/
/* ############################################ REVIEW PAGE STYLING ############################################*/

.review-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  overflow: hidden;
}

.review-card {
  /* border: 2px solid blue; */
  /* min-width: 300px; */
  max-width: 300px;
  min-height: 200px;
  background-color: #fff;
  margin: 0 2rem 4rem 2rem;
  margin-bottom: 4rem;
  border-radius: 20px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.person-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.person-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.person-name p {
  font-weight: 700;
  font-size: 1.5rem;
}

/* ############################################ CONTACT PAGE STYLING ############################################*/
/* ############################################ CONTACT PAGE STYLING ############################################*/
/* ############################################ CONTACT PAGE STYLING ############################################*/
/* ############################################ CONTACT PAGE STYLING ############################################*/
/* ############################################ CONTACT PAGE STYLING ############################################*/
.contact-page {
  background-color: #1c1f1c;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  min-height: 700px;
  border-radius: 15px;
}

.contact-info {
  margin: 2rem;
  padding: 5rem 2rem;
  max-width: 35%;
  border-radius: 15px;
}

.contact-form {
  color: #fff;
  margin: 2rem;
  padding: 5rem 2rem;
  max-width: 35%;
  border-radius: 15px;
}
.contact-wrapper h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.contact-wrapper p {
  color: #fff;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 2rem;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.details i {
  color: #47c972;
}

.details h2 {
  color: #fff;
  text-align: center;
  margin-left: 2rem;
  font-size: 2rem;
}

.form-group {
  margin-bottom: 2rem;
  font-size: 2rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  font-size: 1.5rem;
  border: 1px solid #47c972;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #47c972;
  color: #000;
  font-size: 2.5rem;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: textfield;
  appearance: textfield; /* Other browsers */
}

label.required::after {
  border: 2px solid red;
  content: " *";
  color: red;
}

input[type="tel"] {
  width: 200px; /* Adjust the width as needed */
}

#responseContainer {
  font-size: 2rem;
  font-weight: 500;
  color: #079637;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* ############################################ FOOTER PAGE SYTLING ############################################*/
/* ############################################ FOOTER PAGE SYTLING ############################################*/
/* ############################################ FOOTER PAGE SYTLING ############################################*/
/* ############################################ FOOTER PAGE SYTLING ############################################*/
/* ############################################ FOOTER PAGE SYTLING ############################################*/
.footer {
  background-color: #1c1f1c;
  padding: 2rem;
  text-align: center;
  color: #f4f4f4;
  margin-bottom: 0;
}

.footer p {
  color: #f4f4f4;
}

.social-media i {
  margin: 2rem;
}

.social-media a {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-media a:hover {
  color: #47c972;
}

/* ############################################ BACK TO TOP ############################################*/
/* ############################################ BACK TO TOP ############################################*/
/* ############################################ BACK TO TOP ############################################*/
/* ############################################ BACK TO TOP ############################################*/
/* ############################################ BACK TO TOP ############################################*/

#button {
  background-color: #47c972;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  -o-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;

  border-radius: 10px;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  border: none;
  z-index: 99999;
}

#button:hover {
  cursor: pointer;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
  /* line-height: 30px; */
  color: #fff;
}