@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.05rem;
}

/* ############################################ UTILITY CLASSES ############################################*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary {
  color: #000000;
  background-color: #47c972;
  border-color: #000000;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5rem;
  padding: 1rem 1.5rem;
}

.btn-primary:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
  transition: all 0.5s ease-in-out;
}

/* ############################################ HEADER STYLING ############################################*/
.header {
  background-color: #fff;
  /* height: 100vh; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.logo {
  height: 12rem;
  width: 12rem;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu li {
  font-size: 2rem;
  display: inline;
  padding-left: 3rem;
}

.menu a:hover {
  border-bottom: 2px solid #000;
  font-weight: 600;
}

.menu a {
  color: #000000;
  padding-top: 2rem;
  margin: 0.5rem;
}

.menu {
  padding-top: 3.5rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.header-text h1 {
  font-size: 9rem;
}

.header-text p {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.header-text a {
  font-size: 2rem;
}

/* ############################################ SERVICES STYLING ############################################*/
.service-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;
}

.box {
  box-shadow: 0px 0px 10px #00000044;
  background-color: #fff;
  border-radius: 25px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  margin: 15rem auto;
}

.box:hover {
  scale: 1.05;
  cursor: pointer;
  /* transition: all 0.5s linear; */
}

.box img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-bottom: 3rem;
}

.box p {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: left;
}

.box h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* ############################################ ABOUT PAGE STYLING ############################################*/

.about {
  margin-bottom: 10rem;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content h1 {
  text-align: center;
  font-size: 4rem;
  margin: 2rem;
  margin-bottom: 3rem;
}

.about-content p {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.about-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5rem;
  display: flex;
}

.images {
  width: 350px;
  height: 350px;
}

.images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ############################################ QUOTE STYLING ############################################*/
.quote-wrapper {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  padding: 5rem 0;
  border-radius: 10px;
}

.quote-image {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 3rem;
}

.quote-image img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.quote-content {
  text-align: center;
}

.quote-content p {
  font-size: 2rem;
}

/* ############################################ WHY US PAGE STYLING ############################################*/
.why-us-wrapper{
  /* border: 1px solid black; */
  padding: 5rem 5rem;
}

.why-us-wrapper span{
  font-weight: 800;
}

.why-us-wrapper i{
  font-size: 3rem;
  color: #47c972;
}

.why-us-wrapper h1{
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.why-us-wrapper .para{
  font-size: 2.3rem;
  margin-bottom: 3.5rem;
}

.why-us-wrapper p{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.reasons{
  display: flex;
  gap: 1rem;
}


/* ############################################ REVIEW PAGE STYLING ############################################*/
.review-wrapper {
  background-color: #cdcdcd;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10rem;
}

.review-card {
  box-shadow: 0px 0px 10px #000000a8;
  background-color: #fff;
  min-height: 200px;
  min-width: 250px;
  max-width: 250px;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 15rem 2rem;
}

.review-card-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 5rem;
}

.stars{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.review-card-image img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.review-card h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.review-card p {
  text-align: center;
  font-size: 1.25rem;
  padding: 2rem;
}

.review-card-content i{
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: goldenrod;
}


/* ############################################ CONTACT PAGE STYLING ############################################*/
.contact-wrapper{
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  min-height: 700px;
  border-radius: 15px;
}

.contact-info{
  margin: 2rem;
  padding: 5rem 2rem;
  max-width: 35%;
  border-radius: 15px;
}

.contact-form{
  margin: 2rem;
  padding: 5rem 2rem;
  max-width: 35%;
  border-radius: 15px;
}
.contact-wrapper h1{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.contact-wrapper p{
  font-size: 2rem;
  text-align: left;
  margin-bottom: 2rem;
}
.details{
  display: flex;
  margin-bottom: 1rem;
}
.details i{
  color: #47c972;
}

.details h2{
  text-align: center;
  margin-left: 2rem;
  font-size: 2rem;
}


.form-group{
  margin-bottom: 2rem;
  font-size: 2rem;
}

input[type=text],
input[type=email],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #47c972;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #47c972;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

textarea, select{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #47c972;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}



/* ############################################ FOOTER PAGE SYTLING ############################################*/
.footer {
  background-color: #1c1f1c;
  padding: 2rem;
  text-align: center;
  color: #f4f4f4;
}

.footer p {
  color: #f4f4f4;
}

.social-media i {
  margin: 2rem;
}

.social-media a {
  color: #47c972;
}

.social-media a:hover {
  color: grey;
}


/* ############################################ BACK TO TOP ############################################*/
#button {
  display: inline-block;
  background-color: #47c972;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}